########################################################################
# Alarms
########################################################################
#TIME;DOW[UMTWRFS];ALARM_GROUP;[MUSIC|SCRIPT|COMMAND]
