########################################################################
# Alarms
########################################################################
#TIME;DOW[MTWRFSS];NUMRUNS[0-10];ALARM_GROUP;[MUSIC|SCRIPT]
